p {
  margin-left: 21px;
  margin-right: 21px;
}

img {
  vertical-align: middle;
}

.nav {
  background-color: rgba(2, 2, 2, 0.66);
  color: #ffffff;
  list-style: none;
  text-align: right;
  padding: 12px 13px 12px 0px;
}

.nav > li {
  display: inline-block;
  padding: 0 0px 0 13px;
}

.nav > li > a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.nav > li > a:hover {
  color: #c1c1c1;
}

.logoLeft {
  float: left;
}
.logoRight {
  float: right;
}

.tag {  
  font-family: Arial;
  font-size: 20px;
  margin-top: 20px;
}
.skillType {
  font-weight: bold;
}